.header__button {
  width: clamp(168px, 8.75vw, 200px);
  height: 40px;

  background-color: transparent;
  border: 2px solid var(--white);

  margin-left: 2.083vw;

  transition: background 0.3s ease-in, color 0.3s ease-in, font-weight 0.1s ease;

  font-weight: 400;

  position: relative;
  z-index: 2;

  color: var(--white);

  &:hover {
    cursor: pointer;

    background-color: var(--white);
    color: var(--accent-color);
    font-weight: 600;
  }

  @media (max-width: 1024px) {
    width: fit-content;
  }
  @media (max-width: 425px) {
    display: none;
  }
}

.header__button img {
  display: none;
  margin: 0px 15px;

  position: relative;
  z-index: 2;

  @media (max-width: 1024px) {
    display: block;
  }
}

.header__button span {
  font-family: "My Font Regular", sans-serif;
  font-size: 0.825rem;
  line-height: 170%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;

  position: relative;
  z-index: 2;

  @media (max-width: 1024px) {
    display: none;
  }
}
