.burger__container {
  z-index: 100;
  width: 10vw;

  display: none;
  z-index: 1001;

  @media (max-width: 425px) {
    display: block;
  }
}

.burger {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 101;

  gap: 2vw;
}

.mobile_nav {
  position: absolute;
  z-index: 101;
  top: 100%;
  left: 0;
  background-color: var(--color5);

  width: 70vw;
  height: calc(100vh - 100%);

  padding: 30px 15px 37px;

  transform: translateX(-100px);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border: none;
}

.mobile_nav.visible {
  transform: translateX(-20px);
  opacity: 1;
  visibility: visible;
}

.mobile_nav ul {
  list-style: none;
  margin: 0;
  display: flex;
  flex-direction: column;

  gap: 8vw;
}

.mobile_nav a {
  text-decoration: none;
  color: var(--white);
  font-weight: 500;

  font-family: "Main Font Regular";
  font-weight: 500;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.mob__nav_item {
  font-family: "Main Font Regular";

  font-weight: 500;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.nav_feedback {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.nav-phone__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  gap: 10px;
}

.nav-phone__img-container {
  width: 24px;
  height: 24px;
}

.nav-phone__img-container img {
  width: 100%;
}

.nav__button {
  width: 100%;
  height: 40px;

  background-color: transparent;
  border: 2px solid var(--white);
}

.nav__button span {
  font-family: "Main Font Regular", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 170%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
}

.burger__backdrop {
  visibility: hidden;
  opacity: 0;

  width: 100vw;
  height: 100vh;

  background-color: rgba(47, 22, 52, 0.5);

  position: absolute;
  left: 0;

  transition: visibility 0.5s ease, opacity 0.5s ease;
}

.burger__backdrop.active {
  opacity: 1;
  visibility: visible;
}

.menu_icon {
  width: 30px;
  height: 30px;
  position: relative; /* Для абсолютного позиционирования линий в active состоянии */

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  transform: rotate(0);
  transition: transform 0.3s ease-in-out;
}

.menu_icon.active {
  transform: rotate(45deg);
}

.menu_icon span {
  background-color: #fff;
  transition: all 0.3s ease;

  display: block;

  width: 100%;
  height: 2px;
}

.burger .top_line {
  transform: rotate(0) translateX(0);
  transition: transform 0.3s ease;
}

.top_line.active {
  transform: rotate(90deg) translateX(10.2px);
}

.burger .middle_line {
  opacity: 1;

  transition: opacity 1s ease;
}

.middle_line.active {
  opacity: 0;
}

.burger .bottom_line {
  top: unset;
  transition: transform 0.3s ease;
}

.bottom_line.active {
  transform: translateY(-10.2px);
}

button.mobile_button {
  display: block;

  width: clamp(158px, 100%, 168px);

  img {
    display: none;
  }
  span {
    display: block;
  }
}

.phone__caption {
  @media (width <= 425px) {
    display: block;
  }
}

.link {
  figcaption {
    display: block;
  }

  figcaption span {
    font-size: clamp(15px, 100%, 16px);
  }
}
