.section {
  display: flex;
  flex-direction: column;

  gap: 50px;

  padding-top: 120px;

  @media (width <= 900px) {
    padding-top: 80px;
    gap: 60px;
  }
  @media (width <= 425px) {
    gap: 30px;
  }
}

.list_main {
  display: grid;
  grid-template-columns: 0.337fr 0.7fr;
  align-items: center;

  gap: 30px;

  @media (width <= 900px) {
    display: flex;
    flex-direction: column;
  }
}

.main_item {
  @media (width <= 1080px) {
    width: 100%;
    max-width: unset;
  }
}

.list_inner {
  width: 100%;

  display: flex;
  flex-direction: column;

  gap: 20px;

  @media (width <= 900px) {
    width: 100%;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  @media (width <= 425px) {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}

.inner_item {
  padding: 15px 25px 20px 25px;

  border: 2px solid var(--color4);

  font-family: var(--main-font-regular);
  font-weight: 700;
  font-size: clamp(
    14px,
    calc(14px + (18 - 14) * ((100vw - 600px) / (1920 - 600))),
    18px
  );
  line-height: 130%;
  letter-spacing: 0%;
  text-align: center;


  @media (width <= 900px) {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 15px 80px 20px;
  }

  @media (width <= 800px) {
    padding: 15px 50px 20px;
  }

  @media (width <= 600px) {
    padding: 15px 20px 20px;
  }

  @media (width <= 425px) {
    padding: 15px 24px 20px;
  }

  span {
    color: var(--accent-color);
  }
}
