.main {
  height: 90vh;
}

.section {
  padding-top: 80px;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  position: fixed;
  bottom: 0;
}

.item.item {
  height: 50vh;
  max-width: 400px;

  overflow: hidden;

  span:nth-of-type(1) {
    font-size: 18px;
  }

  span:nth-of-type(2) {
    font-size: 14px;
  }

  div {
    height: 32vh;
  }
}

.custom_wrapper {
  position: relative;

  background-image: url("../../../../public/Desktop.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  background-color: var(--background);
}
