.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.main_title {
  font-family: var(--main-font-titles);
  font-weight: 900;
  font-size: clamp(
    24px,
    calc(24px + (50 - 24) * ((100vw - 600px) / (1920 - 600))),
    50px
  );
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;

  display: block;
}
