.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.image__container {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 110vw;
  height: auto;
  overflow: hidden;

  @media (width <= 900px) {
    width: 150vw;
  }
  @media (width <= 600px) {
    width: 210vw;
  }

  img {
    width: 100%;
    height: auto;
    display: block;
  }
}

.main_title {
  font-family: var(--main-font-titles);
  font-weight: 900;

  @mixin responsive-font-size 24 50;

  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;

  display: block;

  @media (width <= 900px) {
    font-size: 34px;
  }
  @media (width <= 600px) {
    font-size: 30px;
  }
  @media (width <= 425px) {
    font-size: 26px;
  }
}

.hovered_button {
  border: 1px solid transparent;
  -webkit-box-shadow: 0px 0px 13px 3px transparent;
  box-shadow: 0px 0px 13px 3px transparent;

  transition: background-color 0.5s ease-in, border 0.2s ease-in,
    box-shadow 0.2s ease-in;

  &:hover {
    cursor: pointer;
    background-color: var(--background);
    border: 2px solid var(--white);

    -webkit-box-shadow: 0px 0px 10px 0px #fff;
    box-shadow: 0px 0px 10px 0px #fff;
  }

  &:active {
    background-color: var(--accent-color);
  }
}

.scroll_to_top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: var(--white);
  color: rgb(0, 0, 0);
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  text-decoration: none;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.scroll_to_top::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  clip-path: circle(0% at 50% 100%);
  animation: scroll 1s forwards;
}

@keyframes scroll {
  0% {
    clip-path: circle(0% at 50% 100%);
  }
  100% {
    clip-path: circle(100% at 50% 100%);
  }
}

@media (scroll-timeline: scroll) {
  .scroll_to_top {
    opacity: 1;
  }
}
