.opened {
  visibility: visible;
  opacity: 1;
  animation: fadeIn 0.5s ease forwards;
}

.wrapper {
  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;

  z-index: 100000;

  visibility: hidden;
  opacity: 0;
  
  transition: visibility 0s linear 0.5s, opacity 0.5s ease;
}

.wrapper.hidden {
  visibility: hidden;
  opacity: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    visibility: visible;
  }
  
  to {
    opacity: 1;
    visibility: visible;
  }
}

.dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 425px;
  padding: 30px;
  background-color: var(--color5);
  border: none;
  display: block;
  z-index: 1001;
}

.cross {
  content: '';

  display: block;
  width: 15px;
  height: 15px;

  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1002;

  background-image: url('/crosshair.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  
  &:hover {
    cursor: pointer;
  }
}

.title {
  display: block;
  font-family: "Main Font Regular", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  color: var(--white);
  margin-bottom: 25px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;

  span {
    font-family: "Main Font Regular", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0%;

    color: var(--color2);
  }
}

.label {
  background-color: var(--color4);
  padding: 10px;
  position: relative;
  border: 1px solid var(--color3);
}

.name,
.tel {
  height: 50px;
}

.mess {
  min-height: 117px;
}

.label span {
  font-family: "Main Font Regular", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  color: var(--color2);
  display: block;
  position: absolute;
  top: 5px;
  left: 10px;

  opacity: 0;
  transition: opacity 0.2s ease;
}

.label input {
  background-color: transparent;
  outline: none;
  border: none;
  width: 100%;
  height: 30px;
  color: var(--white);
}

.label input::placeholder {
  color: var(--color2);
  opacity: 1;
  font-family: "Main Font Regular", sans-serif;
  font-weight: 400;
  font-size: 16px;
  transition: opacity, transform, font-size, 0.3s ease;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.label input:focus::placeholder {
  opacity: 0;
  transform: translateY(-20px);
  font-size: 9px;
  left: 0;
  color: var(--color2);
}

.label input:focus + span {
  opacity: 1;
}

.form button {
  width: 100%;
  height: 50px;

  background-color: rgba(242, 92, 58, 1);

  display: flex;
  align-items: center;
  justify-content: center;

  span {
    font-family: "Main Font Regular", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;

    color: var(--white);
  }

  border: none;
}
