.section {
  padding-top: 120px;

  display: flex;
  flex-direction: column;

  gap: 50px;

  @media (width <= 900px) {
    padding-top: 80px;
    gap: 65px;
  }
  @media (width <= 600px) {
    gap: 30px;
  }
  @media (width <= 425px) {
    gap: unset;
  }
}

.list {
  display: flex;
  flex-direction: row;

  gap: 35px;

  @media (width <=600px) {
    flex-direction: column;
    gap: 30px;
  }

  @media (width <= 425px) {
    margin-top: 30px;
    gap: 50px;
  }
}

.item {
  width: 50%;

  @media (width <=600px) {
    width: 100%;
  }

  p {
    margin-bottom: 10px;

    font-family: var(--main-font-regular);
    font-weight: 400;
    font-size: 16px;

    line-height: 130%;
    letter-spacing: 0%;

    @media (width <= 425px) {
      @mixin responsive-font-size 13 16;
    }
  }
}

.timeline {
  display: grid;
  grid-template-columns: clamp(60px, 5vw, 72px) 2px 1fr;

  align-items: center;

  gap: 20px;
  overflow: hidden;

  @media (width <= 425px) {
    gap: 15px;
  }
}
