.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  gap: 30px;

  width: 64.17%;
  height: 78.39%;

  @media (width <= 1000px) {
    width: 100%;
    height: 100%;
  }
  @media (width <= 425px) {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

}

.list_item {
  display: flex;
  flex-direction: column;

  gap: 20px;

  @media (width <= 425px) {
    flex-direction: row;
    align-items: center;
  }
}

.imgs_container {
  padding: 6.76% 16.22% 0;

  display: flex;
  align-items: end;
  justify-content: center;

  border: 2px solid var(--accent-color);

  position: relative;

  width: 100%;
  height: 100%;

  @media (width <= 425) {
    padding: 10px 0 0 0;
  }

  &::after {
    content: "";

    display: block;

    width: 80%;
    height: 80%;

    border-radius: 50%;

    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;

    transform: translate(-50%, -50%);

    background-color: var(--color4);
  }

  img {
   width: 100%;
   height: 100%;

    object-fit: contain;

    position: relative;
    z-index: 2;
    
    @media (width <= 425) {
      width: 55%;
    }
  }
}
